<section class="orders-show">

  <header class="page-header">

  </header>
<body>
  <div>
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary thanks' %>
  </div>
  <h4>Thank you for your order, <%= @order.email %> !</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Image</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @line_items.each do |line_item| %>
          <%= render 'item', line_item: line_item %>
        <% end %>
      </tbody>
      </body>
<footer class="orderTotal">
<h4>Grand Total: <%= humanized_money_with_symbol @order.total_cents.to_f / 100 %></h4>
      </footer>
</section>
