<section class="categories-show">

  <header class="page-header">
    <h3>
      <%= @category.name %>
    </h3>
  </header>

  <div class="products">
    <%= render @products %>
  </div>

</section>
